<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Loja.Infra.Linq.Properties.Settings.LojaConnectionString"
            connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=Loja;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>